* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

img {
  width: 3650px;
  position: relative;

  animation: road 4s linear infinite alternate;
}

@keyframes road {
  0% {
    transform: translateX(-100px);
  }
  20% {
    transform: translateX(-250px);
  }
  40% {
    transform: translateX(-400px);
  }
  60% {
    transform: translateX(-600px);
  }
  80% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(-850px);
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-color: bisque;

  animation: circle 1.5s 0.2s infinite alternate;
}

@keyframes circle {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(-90%);
  }
  75% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-90%);
  }
}

.eye {
  display: flex;
  gap: 5px;
}

.eye__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 60px;

  border-radius: 50%;

  background-color: #fff;
}

.pupil {
  width: 20px;
  height: 30px;

  border-radius: 50%;

  background-color: #000000;
}

.mouth {
  height: 80px;
  width: 80px;
  border: 0 solid white;
  border-bottom-width: 25px;
  border-radius: 50%;
}
